

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/*border: 0;*/  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:1px solid gray;
}
html{
    font-size:62.5%;
    font-family: 'Roboto Mono', monospace;
    max-width:900px;
    width:100%;
    margin:0 auto;
}

/*end of general styles and reset*/

/*nav styling*/

a{
    padding:.75rem;
    border-radius:10px;
    color:#FFFFFF;
    background-color:#FF764E;
    text-decoration:none;
    margin-left:5rem;
    margin-right:5rem;
    font-size:1rem;
}
nav{
    width:100%;
    padding:5rem;
    text-align:center;
}
#plan{
    background-color:#FF764E;
}
#learn{
    background-color:#5ED3EB;
}
#getInvolved{
    background-color:#FFCD69;
}

/*end of nav styling*/

/*header section styling*/
.main{
    display:inline-block;
}
.main-text{
    float:right;
    padding-right:1rem;
    padding-top:1rem;
    text-align:center;
}
h1{
    font-family: 'Chelsea Market', Regular;
    font-size:4rem;
    margin:1%;
}
.main p{
    font-size:1.25rem;
    padding:1.75rem;
}
#header-img{
    border-radius:50%;
    width:20%;
    margin:2% 2% 2% 10%;
}

/*end of header section styling*/


.about{
    background-color:#DDB9A3;
    padding:1rem;
    color:#FFFFFF;
    font-size:1.25rem;
    max-width:85%;
    margin:5rem 5rem 5rem 8rem;
    justify-content:center;
}
.about p{
    padding-top:1rem;
    padding-bottom:1rem;
}
/*middle section styling*/

.bottom-image{
    width:25%;
    margin-left:auto;
    margin-right:auto;
}
.top-image{
    width:25%;
    margin-left:auto;
    margin-right:auto;
}
.middle p{
    text-align:center;
    padding:2rem;
}
.bold{
    font-weight:bold;
}

/*end of middle section styling*/

/*footer styling*/
.footer-image img{
    max-width:1000px;
    width:100%;
    height:35vh;
}
.bottom-nav{
    background-color:#F9E7DC
}